* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh; /* standard definition (as fallback) */
  height: 100dvh; /* dynamic vh will make the trick on iOS */
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  height: 100vh;
  background: #222;
  color: white;
  padding: 10px;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  background: transparent !important;
  width: 3px !important;
}

:-webkit-scrollbar-thumb {
  background-color: #111 !important;
}
