.page {
  padding-left: 14px;
  padding-top: 27.5px;
}

.title {
  font-size: 27.5px;
  margin-bottom: 7px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form label {
  font-size: 18px;
}

.form p {
  font-style: italic;
  opacity: 0.7;
}

.add-friend-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-input {
  color: white;
  background: #555;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}

.submit-button {
  color: white;
  background: #555;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
}

.submit-button:disabled {
  opacity: 0.7;
}

@media (min-height: 100vw), (max-width: 800px) {
  .page {
    width: 100vw;
  }
  .form {
    width: min-content;
  }
}
