.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.header {
  width: 100%;
  border-bottom: 2px solid black;
  padding: 10px;
  background: #222;
  display: flex;
  gap: 10px;
  /* margin-bottom: auto; */
  align-items: center;
}

.header div p:nth-child(1) {
  font-size: 25px;
}

.header div p:nth-child(2) {
  letter-spacing: 0.3px;
  font-size: 15px;
  opacity: 0.8;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 10px;
  margin-top: 15px;
  font-size: 20px;
}

.form textarea {
  width: 80%;
  resize: none;
  height: 150px;
  border-radius: 12.5px;
  padding: 10px;
  font-size: 19px;
  display: block;
  background: #555;
  color: rgba(255, 255, 255, 0.79);
}

.form textarea:focus-visible {
  outline: none !important;
}

.form > svg {
  cursor: pointer;
  position: absolute;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 15px;
  border-radius: 7.5px;
  font-size: 20px;
  bottom: 10px;
  right: calc(10px + 10%);
  color: white;
  font-size: 18px;
  box-sizing: content-box;
}

.form svg > * {
  transform: translateX(3px);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  margin-top: auto;
  overflow-x: hidden;
  height: max-content;
}

.my-message .message-box,
.other-message .message-box {
  display: flex;
  width: fit-content;
  flex-direction: column;
  max-width: 60%;
  padding: 8px 16px;
  color: white;
  white-space: pre-line;
  gap: 2.5px;
  cursor: pointer;
  position: relative;
  min-width: 100px;
}

.other-message .message-being-scrolled-to {
  animation: highlightOtherMessage 1.25s;
}

.my-message .message-being-scrolled-to {
  animation: highlightMyMessage 1.25s;
}

.my-message .message-box {
  margin-right: 6.5px;
  margin-left: auto;
  background: #363638;
  border-radius: 6px 6px 0px 6px;
}

.my-message .message-timestamp {
  margin-right: 6.5px;
  margin-left: auto;
}

.other-message .message-timestamp {
  margin-left: 5px;
}

.other-message .message-box {
  border-radius: 6px 6px 6px 0px;
  background: #0063ff;
}

.reply-text {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  font-size: 14px;
  display: block;
}

.message-text {
  font-size: 16px;
}

.message-timestamp {
  font-size: 12px;
  width: fit-content;
  opacity: 0.8;
  margin-top: 7px;
}

.messages::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #111;
}

.my-message-popup,
.other-message-popup {
  display: flex;
  flex-direction: column;
  background: black;
  border-radius: 5px;
  width: 135px;
  position: absolute;
}

.my-message-popup button,
.other-message-popup button {
  width: 100%;
  color: white;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.other-message-popup button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.other-message-popup button p {
  display: inline;
}

.my-message-popup button:nth-child(1):hover,
.my-message-popup button:nth-child(2):hover,
.other-message-popup button:hover {
  background: white;
  color: black;
  border-radius: 2px;
}

.my-message-popup button:nth-child(3):hover {
  background: rgba(250, 0, 0, 0.8);
  color: white;
  border-radius: 2px;
}

.other-message-popup {
  padding: 10px;
  right: 0%;
  bottom: 0%;
  transform: translateX(102%);
}

.my-message-popup {
  left: 0%;
  bottom: 0%;
  transform: translateX(-102%);
  padding: 10px;
}

.my-message-popup button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.my-message-popup button:nth-child(3) {
  color: red;
  padding-top: 5px;
  box-shadow: 0.2px -1px 0 rgba(255, 255, 255, 0.5);
}

.dialog {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 222;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
}

.dialog > div {
  width: min(500px, 96vw);
  background: black;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.dialog:nth-child(1) > div {
  border-radius: 10px;
}

.dialog:nth-child(2) > div {
  border-radius: 10px 10px 0px 0px;
}

.edit-message-top-bar {
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  background: #333;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.edit-message-top-bar p {
  transform: translateX(-6px);
  margin: auto;
}

.edit-message-top-bar svg {
  cursor: pointer;
}

.edit-message-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.edit-message-form-container div {
  text-align: left;
  width: 375px;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  max-height: 130px;
  background: #434343;
  color: black;
  white-space: pre-line;
  overflow: auto;
  color: rgba(255, 255, 255, 0.92);
}

.edit-message-form-container div::-webkit-scrollbar {
  background: transparent !important;
  width: 0.5rem !important;
  height: 0.8rem !important;
}

.edit-message-form-container div::-webkit-scrollbar-thumb {
  background-color: #666 !important;
  border-radius: 10px;
}

.edit-message-form-container div::-webkit-scrollbar-thumb:hover {
  background: #777 !important;
}

.dialog div button {
  background: #434343;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
  width: 375px;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
}

.dialog:nth-child(2) > :nth-child(2) > * {
  width: 200px !important;
}

.dialog:nth-child(2) > :nth-child(1) {
  padding-top: 20px !important;
  height: 80px !important;
  min-height: 0px !important;
  justify-content: space-between !important;
  width: min(500px, 99vw);
}

.dialog:nth-child(1) .bottomButton {
  border-radius: 0px 0px 10px 10px;
  background: white;
  width: inherit;
  padding: 15px 20px;
  font-size: 25px;
  color: black !important;
  cursor: pointer;
  margin-bottom: 0px;
}

.dialog:nth-child(2) .bottomButton {
  border-radius: 0px 0px 10px 10px;
  width: min(500px, 99vw);
}

.dialog:nth-child(2) .bottomButton > * {
  width: 50% !important;
  padding: 15px 30px;
  font-size: 25px;
  color: black;
  cursor: pointer;
  margin-bottom: 0px;
}

.dialog:nth-child(2) .bottomButton > :nth-child(1) {
  border-radius: 0px 0px 0px 10px;
  background: white;
}

.dialog:nth-child(2) .bottomButton > :nth-child(2) {
  background: red;
  border-radius: 0px 0px 10px 0px;
}

.message-being-replied-to {
  width: 80%;
  background: #333;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-being-replied-to ~ textarea {
  border-radius: 0px 0px 12.5px 12.5px;
}

.message-being-replied-to svg {
  cursor: pointer;
}

@media (min-width: 100vh) and (min-width: 800px) {
  .page {
    width: calc(99vw - 300px);
    height: 95vh;
  }
}

@media (min-height: 100vw), (max-width: 800px) {
  .page {
    width: 99vw;
    height: calc(95vh - 76.5px);
  }
  .header p:nth-child(1) {
    font-size: 20px;
  }
  .header {
    padding: 6px;
  }
  .messages {
    padding-top: 15px;
  }
  .my-message {
    margin-right: 15px;
  }
  .my-message,
  .other-message {
    padding: 7.2px;
  }
  .form textarea {
    height: 100px;
  }
}

@keyframes highlightMyMessage {
  0%,
  100% {
    background: #363638;
  }
  50% {
    background: #1b1b1c;
  }
}

@keyframes highlightOtherMessage {
  0%,
  100% {
    background: #0063ff;
  }
  50% {
    background: #0040c5;
  }
}
