.title {
  font-size: 45px;
}

.no-recent-chats {
  font-size: 20px;
  opacity: 0.8;
}

.recent-chats {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  gap: 5px;
}

.recent-chat {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.1);
  gap: 10px;
  transition: transform 500ms;
}

.recent-chat:hover {
  transform: scale(1.008);
}

.message-and-username {
  display: flex;
  font-size: 15.5px;
  flex-direction: column;
  overflow: hidden;
}

.message-and-username p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
}

.message-and-username p:nth-child(2) {
  font-weight: 300;
}

.most-recent-message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 100vh) and (min-width: 800px) {
  .page {
    width: calc(100vw - 320px);
  }
  @media (width < 1000px) {
    .recent-chats {
      grid-template-columns: 1fr;
    }
  }
}

@media (min-height: 100vw), (max-width: 800px) {
  .page {
    width: 100vw;
  }
  .recent-chats {
    grid-template-columns: calc(100% - 20px);
  }
  .recent-chat {
    padding-left: 10px;
    padding-right: 10px;
  }
  .chat-with-user-container {
    font-size: 20px;
  }
}
