.title {
  font-size: 45px;
}

.no-recent-chats {
  font-size: 20px;
  opacity: 0.8;
}

.recent-chats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  position: relative;
}

.recent-chat {
  cursor: pointer;
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.1);
  font-size: 20px;
  transition: transform 500ms;
}

.recent-chat:hover {
  transform: scale(1.01);
}

.most-recent-message {
  background: #222;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  font-size: 18px;
}

.chat-with-user-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 23px;
}

@media (min-width: 100vh) and (min-width: 800px) {
  .page {
    width: calc(100vw - 320px);
  }
  @media (width < 1000px) {
    .recent-chats {
      grid-template-columns: 1fr;
    }
  }
}

@media (min-height: 100vw), (max-width: 800px) {
  .page {
    width: 100vw;
  }
  .recent-chats {
    grid-template-columns: 1fr;
    position: relative;
  }
  .recent-chat {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
  }
  .chat-with-user-container {
    font-size: 20px;
  }
}
