.page h1 {
  font-size: 40px;
  margin-bottom: 7.5px;
}

.section > p {
  font-size: 30px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form > * {
  font-size: 20px;
}

.form input {
  padding: 10px;
  border-radius: 5px;
}

.form input[type="submit"] {
  color: white;
  background: darkblue;
  margin-top: 7.5px;
}

.form input[type="submit"]:disabled {
  opacity: 0.5;
}
