.page {
  width: 99vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden !important;
}

.container {
  display: flex;
  flex-direction: column;
  background: black;
  padding: 20px;
  width: min(500px, 94vw);
  border-radius: 20px;
  margin-bottom: 100px;
  height: fit-content;
  overflow: hidden !important;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.title span {
  background: linear-gradient(70deg, #4549c4, #1bffff, #4549c4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: shimmer 2.5s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  width: 80%;
  font-size: 20px;
  margin-bottom: 3.5px;
}

.form input[name] {
  width: 80%;
  padding: 15px;
  font-size: 22.5px;
  border-radius: 5px;
  background: #555;
  z-index: 2;
  color: rgba(255, 255, 255, 0.95);
}

.form input[name]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form > input[name] {
  margin-bottom: 15px;
}

.form input[type="submit"] {
  font-size: 22.5px;
  background: #555;
  width: 80%;
  padding: 15px 20px;
  border-radius: 7.5px;
  font-weight: 400 !important;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.password-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 15px;
}

.password-input {
  min-width: 70.70555452%;
  max-width: 70.70555452%;
  display: inline;
  border-radius: 5px 0px 0px 5px !important;
  color: white;
  border-right: 2px black solid;
}

.show-password-button {
  min-width: 29.29333548%;
  max-width: 29.29333548%;
  padding: 5px;
  font-size: 22.5px;
  padding: 15px;
  display: inline;
  border-radius: 0px 5px 5px 0px !important;
  background: #555;
  cursor: pointer;
  color: white;
}

.agreement {
  text-align: center;
  display: block;
  width: 80%;
  font-size: 18px;
  margin-bottom: 20px;
}

.agreement a {
  text-decoration: none;
  color: rgb(0, 140, 255);
}

.agreement input[type="checkbox"] {
  display: inline;
  padding: 0px;
  width: 15px;
  height: 15px;
  transform: translateY(1.2px);
}

.has-an-account-container,
.no-account-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.has-an-account,
.no-account {
  width: 80%;
  text-align: center;
  color: rgba(150, 150, 150, 0.9);
  font-weight: 300;
  font-size: 18px;
}

.has-an-account a,
.no-account a {
  font-size: 18px;
  color: rgb(0, 140, 255);
  font-weight: 300;
  text-decoration: none;
}

@media (min-height: 100vw) {
  .form input[type="submit"],
  .password-input-container,
  .form input[name],
  .form label {
    width: 100%;
  }
  .agreement {
    width: 100%;
  }
  .agreement input[type="checkbox"] {
    transform: translateY(0px);
  }
  .agreement input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 100vh) and (max-width: 801px) {
  .agreement input[type="checkbox"] {
    transform: translateY(-1.4px);
    width: 16px;
    height: 16px;
  }
}
