.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
  border-right: 1px solid black;
  overflow-y: scroll;
  background: #1a1a1a;
}

.logo-container {
  margin-bottom: 55px;
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.logo {
  border-radius: 50%;
}

.chats-text,
.overview {
  opacity: 0.8;
  font-size: 15px;
  padding: 2.5px;
}

.overview {
  margin-bottom: 7.5px;
}

.chats {
  margin-bottom: auto;
}

.chat {
  font-size: 19px;
  padding: 3.5px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  transition: transform 500ms;
}

.chat:hover {
  transform: scale(1.008);
}

.chat img {
  margin-right: 6px;
}

.chat svg {
  color: red;
  margin-left: auto;
}

.overview-tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 17.5px;
}

.overview-text {
  margin-left: 3.75px;
}

.overview-tabs > * {
  display: flex;
  gap: 8px;
  height: 35px;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 500ms;
}

.overview-tabs > *:hover {
  transform: scale(1.008);
}

.overview-logo {
  color: rgba(128, 128, 128, 0.8);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1px 2.5px;
}

.overview-text {
  font-size: 20px;
  text-decoration: none;
  color: white;
  height: 35px;
  transform: translateX(-3px);
  display: flex;
  align-items: center;
}

.user-snippet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px solid black;
}

.user-snippet svg {
  cursor: pointer !important;
}

.user-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
}

.user-name {
  letter-spacing: 0.3px;
  font-size: 15px;
  opacity: 0.8;
}

.display-name {
  font-size: 20px;
}

#faIcon {
  font-size: 25px;
  cursor: pointer;
}

.popup {
  position: absolute;
  left: 280px;
  bottom: 40px;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.popup > * {
  padding: 10px 30px;
  font-size: 16px;
  background: none;
  text-align: center;
  color: white;
  text-decoration: none;
}

.popup > :nth-child(1) {
  border-bottom: 2px solid #232323;
}

.pending-friend-requests {
  border-radius: 50%;
  background: rgb(0, 140, 255);
  width: 25px;
  height: 25px;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
  color: white !important;
}

.nav2,
.top-bar,
.menu-icon,
.mobile-nav-container {
  display: none;
}

.chat svg {
  display: none;
}
.chat:hover svg {
  display: block;
}
.overview-tabs > *:hover .overview-text,
.overview-tab-active .overview-text {
  color: rgb(0, 140, 255);
}

.overview-tabs > *:hover,
.overview-tab-active {
  background: rgba(128, 128, 128, 0.1);
}

.chat:hover {
  color: rgb(0, 140, 255) !important;
  background: rgba(128, 128, 128, 0.1);
}

@media (min-height: 100vw), (max-width: 800px) {
  .chat svg {
    display: block !important;
  }

  .nav {
    display: none;
  }

  .mobile-nav-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 22;
  }

  .top-bar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    width: 100%;
  }

  .menu-icon {
    cursor: pointer;
    font-size: 20px;
    display: inline;
  }

  .nav2 {
    position: absolute;
    top: 76.5px;
    display: flex;
    left: 0;
    height: calc(100vh - 76.5px);
    background: #222;
    width: 100vw;
    padding: 10px;
    flex-direction: column;
    z-index: 22;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
  }
}
